@model DevFolio.Models.TblFeature
@{
    ViewBag.Title = "CreateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Özellik Ekleme Sayfası</h2>
<br />
<div class="container">

    @using (Html.BeginForm("CreateFeature", "Feature", FormMethod.Post))
    {
    <form class="form-group" method="post">
        <label>Özellik Adı</label>
        
        @Html.TextBoxFor(x => x.HeaderTitle, new { @class = "form-control" })
        <br />
        <label>Kategori Adı</label>
        @Html.TextBoxFor(x => x.HeaderDescription, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Kaydet</button>
    </form>
    }
</div>
